body {
  margin: 10px;
}
.heading {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
}
#navigation {
  margin-left: auto;
}
.links {
  color: #495E57;
  display: inline;
  text-decoration: none;
  padding-left: 15px;
}
.links a {
  text-decoration: none;
  color: #495E57;
  font-family: "Markazi Text";
  font-size: 40px;
}
.links a:hover {
  color: #F4CE14;
}

main {
  margin-left: -10px;
  margin-right: -10px;
  background-color: #495E57;
  margin-bottom: 10px;
  padding-left: 10%;
  padding-right: 10%;
}

h1 {
  font-family: "Markazi Text";
  font-size: 64px;
  color: white;
} 

h2, h3, h4, h5, h6, p {
  font-family: "Markazi Text";
  color: #495E57;
}

#footer {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
}
#copyright {
  margin-left: auto;
  font-size: 24px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
